<!--   <form action = "/scrap" method = "post" enctype="multipart/form-data">  
    <input type="text" name = "urls"/>  
    <input type = "submit">  
  </form>  
   -->
   <!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact V9</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.ico')}}" >

<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" >
<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" >
<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css')}}" >
<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}" >
<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}" >
<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animsition/css/animsition.min.css')}}" >
<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}" >
<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}" >
<!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}" >
  <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" >
<!--===============================================================================================-->
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Restaurant Reviews Analyzer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url_for('predict') }}">Predict<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="{{ url_for('rting') }}">Review Scrapping</a>
      <a class="nav-item nav-link active" href="{{ url_for('ratelist') }}">NLP Rating</a>
    </div>
  </div>
</nav>
  <div class="container-contact100">

    <div class="wrap-contact100">
      <form class="contact100-form validate-form" action="{{url_for('succesaass')}}" method='POST'>
        <span class="contact100-form-title">
          Scrap Url And Rate Restaurant
        </span>


        <div class="wrap-input100 validate-input" data-validate = "Enter Your Comment/Review">
          <input type="text" class="input100" name="urls" placeholder="Enter Url">
          <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
          <input type="submit" class="contact100-form-btn" value="Scrap And Rate"/>
           
          
        </div>
      </form>
    </div>
  </div>



  <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
  <!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script> -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}" ></script>
<!--===============================================================================================-->
  <!-- <script src="vendor/animsition/js/animsition.min.js"></script> -->
  <script src="{{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}" ></script>
<!--===============================================================================================-->
  <!-- <script src="vendor/bootstrap/js/popper.js"></script> -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}" ></script>

  <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}" ></script>

<!--===============================================================================================-->
  <!-- <script src="vendor/select2/select2.min.js"></script> -->
  <script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}" ></script>
<!--===============================================================================================-->
  <!-- <script src="vendor/daterangepicker/moment.min.js"></script> -->
  <script src="{{url_for('static', filename='vendor/daterangepicker/moment.min.js')}}" ></script>
  <!-- <script src="vendor/daterangepicker/daterangepicker.js"></script> -->
  <script src="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}" ></script>
<!--===============================================================================================-->
  <!-- <script src="vendor/countdowntime/countdowntime.js"></script> -->
  <script src="{{url_for('static', filename='vendor/countdowntime/countdowntime.js')}}" ></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
  <!-- <script src="js/main.js"></script> -->
  <script src="{{url_for('static', filename='js/main.js')}}" ></script>

<!-- Global site tag (gtag.js) - Google Analytics -->

</body>
</html>
